<ion-view view-title="Liste" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-map" ng-click="goToMap()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list ng-controller="DetailsCtrl">
            <ion-item class="item item-thumbnail-left" ng-click="showDetails()">test 01</ion-item>
            <ion-item class="item item-thumbnail-left">test 02</ion-item>
            <ion-item class="item item-thumbnail-left">test 03</ion-item>
            <ion-item class="item item-thumbnail-left">test 04</ion-item>
            <ion-item class="item item-thumbnail-left">test 05</ion-item>
            <ion-item class="item item-thumbnail-left">test 06</ion-item>
            <ion-item class="item item-thumbnail-left">test 07</ion-item>
            <ion-item class="item item-thumbnail-left">test 08</ion-item>
            <ion-item class="item item-thumbnail-left">test 09</ion-item>
            <ion-item class="item item-thumbnail-left">test 10</ion-item>
            <ion-item class="item item-thumbnail-left">test 11</ion-item>
            <ion-item class="item item-thumbnail-left">test 12</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
