<ion-view view-title="Liste" hide-back-button="true">
    <ion-nav-bar class="bar-royal">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-medium ion-map" ui-sref="app.map"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <ion-item class="item item-thumbnail-left"  collection-repeat="issue in issues" ng-click="goToDetails(issue.id)">
                <img src="{{issue.imageUrl}}" alt="" />
                <h2>{{issue.description}}</h2>
                <p class="issue-state">{{issue.state}}</p>
                <p class="issue-nb-com">{{issue.comments.length}} Commentaire{{issue.comments.length > 1 ? 's' : ''}}</p>
            </ion-item>
        </div>
        <div class="list-error" ng-if="error">
            <p>{{error.msg}}</p>
        </div>
    </ion-content>
    <button class="button button-new ion-plus-circled" ui-sref="app.new"></button>
</ion-view>
