<ion-view view-title="Carte" swipe-to target='app.list'>
    <ion-nav-bar class="bar-calm">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-medium ion-clipboard" ui-sref="app.list" nav-transition="none"></button>
    </ion-nav-buttons>
    <ion-content>
        <button class="button button-outline button-full button-positive" ui-sref="app.details" nav-transition="none">
            Go to issue X!
        </button>
        <label class="item item-input">
            <input type="text" ng-controller="SettingsModalCtrl" ng-model="toast">
        </label>
    </ion-content>
    <button class="button button-new ion-plus-circled" ui-sref="app.new"></button>
</ion-view>
