<ion-modal-view class="flat-background">
    <header class="bar bar-header bar-royal transparent">
        <h1 class="title left-title">Paramètres</h1>
        <button class="button button-clear" ng-click="closeSettings()">Fermer</button>
    </header>
    <ion-content class="has-header">
        <form ng-submit="doLogin()">
            <div class="list card">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Centre de la carte</span>
                    <input type="text" ng-model="values.mapCenter" placeholder="Vide">
                </label>
                <div class="setting-info">Définit le centre de la carte au démarrage de l'application.</div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Page d'accueil
                    </div>
                    <select ng-model="values.homePage">
                        <option value="app.carte">Carte</option>
                        <option value="app.list">Liste</option>
                    </select>
                </label>
                <div class="setting-info">Définit quelle est la première page au démarrage de l'application.</div>
                <div class="item range range-positive">
                    <label></label>
                    <i class="icon ion-quote"></i>
                    <input type="range" name="volume" min="0" max="100" value="50">
                    <i class="icon ion-quote"></i>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
