<ul id="help-popup">
    <li class="item item-avatar">
        <i class="icon ion-load-d"></i>
        <p>Créé</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-person-add"></i>
        <p>Assigné</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-bookmark"></i>
        <p>Reconnu</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-settings"></i>
        <p>En cours</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-close-circled"></i>
        <p>Rejeté</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-checkmark-circled"></i>
        <p>Résolu</p>
    </li>
</ul>