#login-title {
    text-align: center;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.button-new {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2.5em;
    border: none;
    background: none;
    padding: 0;
    color: #886aea;
    margin: 0 2% 2% 0;
    z-index: 1000;
}
.button-new:hover {
    color: #886aea;
}

.button-new:focus,
.button-new:active {
    background: none;
    border: none;
    box-shadow: none;
    opacity: 0.5;
}

.left-title {
    text-align: left !important;
}

.item-issue-type::first-letter {
    text-transform: capitalize;
}

#main-menu {
    background: url(../img/bg.jpg) no-repeat right top;
}

#main-menu .item-divider {
    color: #FFF;
}

#main-menu .icon {
    color: #AAA;
}

.item-thumbnail-left a.item-content {
    padding-top: 16px !important;
}

.bar-new {
    border-bottom: thin solid #11C1F3;
}

.bar-new h1 {
    color: #11C1F3;
}

.flat-background {
    background: url(../img/bg.jpg) no-repeat left bottom;
}

.flat-background-white {
    background: url(../img/bg-pattern.jpg) repeat left bottom;
}

.flat-background .item-stacked-label,
.flat-background-white .item-stacked-label{
    background: white;
}

/*.loading-container {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    padding-top: 54px;
}

.loading-container .loading{
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
}*/

.toast {
    position: fixed;
    bottom: 50px;
    width: 100%;
    background-color: white;
    border: thin solid black;
    z-index: 9999;
}

.toast span {
    margin: auto;
    height: 30px;
    width: 150px;
    background-color: red;
    display: block;
    text-align: center;
    line-height: 30px;
}

/* LEAFLET CSS HACKS */

.leaflet-container {
    width: 100%;
    height: 100%;
    position: static;
}

.leaflet-control-zoom {
    visibility: hidden;
}

.settings .card .item {
    border-bottom: 0;
}

.settings .card .item.range {
    border-top: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.settings .card .item.item-value {
    border-top: 0;
    padding-top: 0;
}

.settings .card .item.item-title,
.settings .card .item.item-title span {
    padding-bottom: 0;
}

.settings .card .item input[type="text"] {
    text-align: right;
    padding-top: 0;
    padding-right: 16px;
}

.settings .card .item .close-range {
    position: absolute;
    right: 16px;
    top: 13px;
}

.settings .card .item .close-range-after {
    color: #AAA;
    font-size: 11px;
}

.setting-info {
    font-size: 13px;
    color: #AAA;
    margin: 1px 16px 6px 16px;
    padding-top: 5px;
    padding-left: 20px;
    white-space: initial;
    border-top: 1px solid #DDD;
    position: relative;
}

.setting-info i {
    position: absolute;
    top: 5px;
    left: 2px;
}

.issue-state {
    text-transform: capitalize;
}

p.issue-nb-com:last-of-type {
    position: absolute;
    bottom: 16px;
    color: #886aea;
}

.list-error {
    text-align: center;
    color: #AAA;
    margin-top: 100px;
}

.list-error i {
    color: #EEE;
    font-size: 128px;
}

.issue-img {
    height: 300px;
    display: block;
    margin: auto;
}

.issue-details .col h1 {
    border-bottom: 1px solid #886aea;
    font-size: 12px;
    color: #886aea;
    padding: 5px 0;
}

.issue-details .state {
    padding: 0;
    margin-bottom: 10px;
}

.issue-details .state div {
    font-size: 12px;
    text-align: center;
    padding: 3px 0;
    color: white;
    opacity: 0.15;
    background-color: #886aea;
}

.issue-details .state .selected {
    opacity: 1;
}

.tags span {
    display: inline-block;
    font-size: 12px;    
    background-color: #886aea;
    padding: 7px 25px 7px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    position: relative;
}

.tags span>i {
    opacity: 0.5;
    position: absolute;
    right: 8px;
}

.popup .popup-body {
    overflow: hidden !important;
}

.popup-body input {
    padding: 10px;
}

.popup-body .comment {
    height: 100px;
    padding: 10px;
}